@mixin flex ($jc: null, $ai: null, $fw:null, $fd: null) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
	flex-wrap: $fw;
	flex-direction: $fd;
}

@mixin pseudo ($content: '') {
	content: $content;
	display: block;
}


@mixin pos-px ($position: null, $t: null, $b: null, $l: null, $r: null) {
	position: $position;
	top: #{$t}px;
	bottom: #{$b}px;
	left: #{$l}px;
	right: #{$r}px;
}

@mixin pos ($position: null, $t: null, $b: null, $l: null, $r: null) {
	position: $position;
	top: $t;
	bottom: $b;
	left: $l;
	right: $r;
}


@mixin font ($font-size: $font-size, $line-height: $line-height, $font-weight: $font-weight, $text-align: $text-align) {
	@if font-size {
		font-size: $font-size;
	}

	@if line-height {
		line-height: $line-height;
	}

	@if font-weight {
		font-weight: $font-weight;
	}

	@if text-align {
		text-align: $text-align;
	}
}

@mixin background ($img) {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: $img;
}


@mixin border($bw: null, $bs: solid, $bc: null) {
	border-width: $bw;
	border-style: $bs;
	border-color: $bc;
}

@mixin colors($text, $background, $border) {
	color: $text;
	background-color: $background;
	border-color: $border;
}

@mixin wh ($width: $width, $height: $width) {
	width: $width;
	height: $height;
}