
.box {
	// .box__item
	&__item {}
	// .box__item--dark-blue
	&__item--dark-blue {
		background-color: #22356F;
	}
	// .box__subtitle
	&__subtitle {
		@include font (32px, 34px, 700, center);
		letter-spacing: -0.006em;
		position: relative;

		&::after {
			@include pseudo;
			@include wh (9px);
			@include pos (absolute, $top: 15px, $left: 45px);
			border-radius: 50%;
			background-color: #E9B730;
		}

		&::before {
			@include pseudo;
			@include wh (255px, 1px);
			@include pos (absolute, $top: -25px, $left: 55px);
			background-color: #fff;
		}
	}
	// .box__item--blue
	
}