.about {

	// .about__wrap
	&__wrap {
		@include flex ();
		margin: 153px 0 70px 80px;
		max-width: 900px;
	}

	// .about__title
	&__title {
		@include font (16px, 23px, 400, false);
		letter-spacing: 0.06em;
		width: 450px;
		margin-right: 235px;
		text-transform: uppercase;
		white-space: nowrap;

		}

	// .about__text
	&__text {
		@include font (24px, 35px, 500, false);
		letter-spacing: 0.005em;

	}
}