.future {
	display: grid;

	&__item-1 {
		background-color: #FFE2DE;
	}
	&__item-2 {
		background-color: #C4E769;
	}
	&__item-3 {
		background-color: #62D0DF;
	}
	&__item-4 {
		background-color: #0052C1;
	}
}