.home {
	background-color: #62D0DF;
	&__grid {
		display: grid;
		
		grid-template-columns: 1fr 525px;
		grid-template-rows: minmax(0, 604px);
		@media only screen and (max-width: 920px) {
			grid-template-columns: 1fr;
		grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
		}
	}

	&__inner {
		max-width: 575px;
		@include flex (center, $flex-direction: column);
		margin: 0 auto;
		padding: 80px 10px 0;
		@media only screen and (max-width: 920px) {
			padding: 20px 10px;
		}
	}

	// .home__title
	&__title {
		@include font (36px, 27px);
		letter-spacing: -0.006em;
		margin-bottom: 90px;
		text-transform: capitalize;
		@media only screen and (max-width: 920px) {
			text-align: center;
			margin-bottom: 20px;
			font-size: 32px;
		}
	}

	// .home__text
	&__text {
		@include font (20px, 35px);
		@media only screen and (max-width: 920px) {
			text-align: center;
			font-size: 18px;
		}
		
	}

	// .home__img
	&__img {
		object-fit: cover;
		@include wh (100%);
		max-height: 604px;
	}
}