.services {
	margin: 0 auto;
	padding: 0 0 35px;

	// .services__title
	&__title {
		@include font (16px, 1.2, 400, center);
		color: rgba(34, 53, 111, 0.5);
		margin-bottom: 24px;
		letter-spacing: 0.06em;
	}

	// .services__block
	&__block {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 360px;
		margin-bottom: 120px;
	}

	// .services__block-item
	&__block-item {
		padding: 100px 75px 0;
	}

	// .services__subtitle
	&__block-subtitle {
		@include font (32px, 36px, 700);
		letter-spacing: -0.006em;
		position: relative;


		&::after {
			@include pseudo;
			@include wh (9px);
			@include pos (absolute, $top: 10px, $left: -25px);

			border-radius: 50%;
			background-color: #E9B730;
		}

		&::before {
			@include pseudo;
			@include wh (255px, 1px);
			@include pos (absolute, $top: -25px, $left: -25px);
			background-color: #fff;
		}
	}

	// .services__block-item--pink
	&__block-item--pink {
		background-color: #FFE2DE;
	}

	// .services__block-item--green
	&__block-item--green {
		background-color: #C4E769;
	}

	// .services__block-item--blue
	&__block-item--blue {
		background-color: #62D0DF;
	}

	// .services__block-item--dark-blue
	&__block-item--dark-blue {
		background-color: #0052C1;
	}

	// .services__box
	&__box {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 480px);
	}

	// .services__box-subtitle
	&__box-subtitle {
		@include font (32px, 34px, 700);
		letter-spacing: -0.006em;
		position: relative;
		max-width: 200px;

		&::after {
			@include pseudo;
			@include wh (12px);
			@include pos (absolute, $top: 13px, $left: -28px);
			border-radius: 50%;
			background-color: #E9B730;
		}

		&::before {
			@include pseudo;
			@include wh (340px, 2px);
			@include pos (absolute, $top: -35px, $left: -30px);
			background-color: #fff;
		}
	}

	// .services__box-item
	&__box-item {
		padding: 135px 100px 0;
	}

	// .services__box-item--dark-blue
	&__box-item--dark-blue {
		background-color: #22356F;
	}

	// .services__box-item--blue
	&__box-item--blue {
		background-color: #0052C1;
	}

	// .services__box-item--green
	&__box-item--green {
		background-color: #76B58B;
	}

	// .services__box-item--light-blue
	&__box-item--light-blue {
		background-color: #62D0DF;
	}

	// .services__box-item--light-purple
	&__box-item--light-purple {
		background-color: #DEE1FF;
	}

	// .services__box-item--dark-purple
	&__box-item--dark-purple {
		background-color: #8F00FF;
	}

	// .services__info
	&__info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 240px);
	}

	// .services__info-item
	&__info-item {
		padding: 80px 85px 0 105px;;
	}

	// .services__info-subtitle
	&__info-subtitle {
		@include font (28px, 33px);
		letter-spacing: -0.03em;
		color: #22356F;
		margin-bottom: 30px;
	}

	// .services__info-text
	&__info-text {
		@include font (16px, 25px);
		letter-spacing: -0.03em;
		color: rgba(34, 53, 111, 0.5);
	}


}