.item{
	// item--pink
	&--pink {
		background-color: #FFE2DE;
	}

	// .item--green
	&--green {
		background-color: #C4E769;
	}

	// item--blue
	&--blue {
		background-color: #0052C1;

	}

	// item--dark-blue
	&--dark-blue {
		background-color: #22356F;

	}
	// .item--light-blue
	&--light-blue {
		background-color: #62D0DF;
	}

	// .item--light-purple
	&--light-purple {
		background-color: #DEE1FF;
	}

	// .item--dark-purple
	&--dark-purple {
		background-color: #8F00FF;
	}
}