.text {

	@include font (24px, 44px);
	color: #22356F;
	
	

	&--blue {
		color: #6CD3E1;
	}

	&--light {
		color: #FFF;
	}

	&--orange {
		color: #FAB63E;
	}
	&--bold {
		@include font (24px, 40px, 700);
	}

}